@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}

.secondary-cards {
  background-color: #f8f8f8;
}

.pt-13 {
  padding-top: 13px !important;
}

.pt-5{
  padding-top: 5px !important;
}
